*{
  margin: 0;
  padding: 0;
 
}


body{
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}

.navbar{
  background-color: #2c3e50;
  padding: 15px;
  color: white;
  text-align: center;
}

.container1{
  padding:  10px;
 
  
}

.bookcontainer{
  padding: 15px;
  width: 30%;
  background-color: rgb(167, 206, 241);
  border-radius: 10px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;

}
.bookcontainer:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
  cursor: pointer;
}
.bookcontainer h3:hover{
  color: #2c3e50;
  text-decoration: underline;
}
.bookcontainer h5{
  margin-bottom: 10px;
  color: #34495e;
}
.bookcontainer:hover{
  background-color: #d6eaf8;
}
.navbar:hover{
  background-color: #34495e;
  transition: background-color 0.12s ease;
}
.navbar h2:hover{
  color: #28accd;
  text-decoration: underline;
  
} 
.bookcontainer button:hover{
  background-color: #a8cae0;
  cursor: pointer;
 
  
}
#bbton{
  background-color: #030a10;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 100%;
  position: absolute;
  bottom: 30px;
  right: 30px;
 
}

#bbton:hover{
  background-color: rgb(105, 118, 118);
  cursor: pointer;

}
.overlay{
  background-color: rgb(85, 85, 83);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}


.popup{
  background-color: rgb(140, 140, 137);                    
  width: 21%;
  height: 300px;
  padding: 40px;
  border-radius: 20px;
  position: absolute;
  top: 3%;
  left: 40%;
  bottom: 40%;
                         
  
  
  z-index: 2;
  padding-top: 4px;
  padding-left: 10px;
  margin-bottom: 450px;
  margin-top: 0px;

  display: none;
  

 
}


.popup input{
  padding: 5px;
  margin: 2px;
  margin-top: 12px;
  border-radius: 10px 5px;

}
.popup textarea{
  width: 170px;
  height: 100px;
  margin-top: 35px;
  margin-left: 3px;
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 0px;
 
  
}

.popup h2{
  margin-left: 5px;
 
  margin-top: 0px;
  
  
}
.popup :hover{
    color: #2c3e50;
}

.popup button{
  padding: 4px;
  margin-top: 10px;
  margin-left: 17px;
  font-size: 15px;

  border-color: black;
}